<div class="movies-container">

  <ng-container *ngIf="page == 1 && !isLoading">
    <div class="top-movies">
      <h1 class="fs-5 mb-0 top-movie-title">Top {{topMoviesList.length}} Movies in {{genreName}}</h1>
      <div class="row m-0 row-cols-1 row-cols-sm-5">
        <ng-container *ngFor="let movie of topMoviesList; trackBy: trackBy">
          <div class="col">
            <app-movie-card [movie]="movie"></app-movie-card>
          </div>
        </ng-container>

      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="!isLoading">
    <div class="movie-list">
      <h1 class="fs-4 movies-title">Movies in {{genreName}}</h1>
      <div class="row m-0 row-cols-1 row-cols-sm-5">
        <ng-container *ngFor="let movie of moviesList; trackBy: trackBy">
          <div class="col">
            <app-movie-card [movie]="movie"></app-movie-card>
          </div>
        </ng-container>
  
      </div>  
    </div>
  </ng-container>

  <div class="paginator">
    <mat-paginator [length]="totalResults" [pageSize]="20" (page)="changePage($event)"></mat-paginator>
  </div>
  
</div>