<div class="trailer-video bg-main">
  
  <ng-container *ngIf="data.video?.url">
    <div class="trailer-video-body">
      <iframe [src]="data.video.url" width="100%"
      height="478px" frameborder="0" allow="autoplay; encrypted-media"
      allowfullscreen></iframe>
    </div>
  </ng-container>

</div>