.trailer-video {
    position: relative;
    height: 100%;
    width: 100%;
}

iframe {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
}