.watch-list {
    position: absolute;
    top: 2px;
    right: 2px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 3px;
    font-size: 28px;
    border-radius: 2px;
   }
  
.watch-list:hover + .watch-list-msg {
    display: inline;
}

.watch-list-msg {
    display: none;
    position: absolute;
    top: 36px;
    right: 2px;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 14px;
    padding: 6px;
}