<span class="watch-list" (click)="onClickAddWatchlist($event, movie)">
  <i class="material-icons">{{ isWatchlisted ? 'done' : 'add' }}</i>
</span>
<span class="watch-list-msg">
  {{ isWatchlisted ? 'Watchlisted' : 'Add to watchlist' }}
</span>