<div [routerLink]="['/movies/', movie.id]">
  <div class="item-style">
    <div class="overlay">
      <div class="hover"><span>PLAY</span></div>
    </div>

    <ng-container *ngIf="movie?.poster_path; else defaultImg">
      <img src="https://image.tmdb.org/t/p/w370_and_h556_bestv2/{{movie?.poster_path}}"
        [alt]="movie.title || 'Movie Title'">
    </ng-container>
    <ng-template #defaultImg>
      <img src="assets/images/default-movie.png"
        onError="this.src='https://via.placeholder.com/219x330/000000/FFFFFF/?text=Image Not Found'"
        [alt]="movie.title || 'Movie Title'">
    </ng-template>
    
    <h6>{{ movie?.title }}</h6>
    <p class="rate"><i class="material-icons">star</i><span>{{movie?.vote_average}}</span> /10</p>
    
    <app-watchlist-button [movie]="movie"></app-watchlist-button>

    <p class="year"><span>{{movie?.release_date | date: 'yyyy'}}</span></p>
  </div>
</div>