.main-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 40px;
    padding: 16px 0px;
    background-color: #1f1e1e;
}

.main-footer .footer-body {
    color: #fff;
    text-align: center;
}