<div class="recently-container">
  <ng-container *ngIf="historyList.length">
    <h1 class="fs-4 mb-0 ps-3 pt-2">Recently Visited Movies</h1>
    <ng-container *ngIf="historyList.length > 4; else lesserHistory">
      <p-carousel
     [value]="historyList"
     [numVisible]="6"
     [numScroll]="4"
     [circular]="false"
     [dotsContainerClass]="'d-none'"
     [responsiveOptions]="responsiveOptions">
      <ng-template let-movie pTemplate="item">
          <app-movie-card [movie]="movie"></app-movie-card>
      </ng-template>
    </p-carousel>
    </ng-container>

    <ng-template #lesserHistory>
        <div class="row row-cols-1 row-cols-sm-5 me-0 p-2">
          <ng-container *ngFor="let movie of historyList; trackBy: trackBy">
            <div class="col">
              <app-movie-card [movie]="movie"></app-movie-card>
            </div>
          </ng-container>
      </div>
    </ng-template>
    
  </ng-container>
  
</div>