<div class="main">
  <app-header-nav></app-header-nav>
  
  <div class="loading" *ngIf="isLoading">
    <mat-progress-bar [color]="color" [mode]="mode" [value]="value"></mat-progress-bar>
  </div>

  <div class="main-wrapper">
    <router-outlet></router-outlet>
  </div>

  <app-footer></app-footer>
</div>