<div class="details-container">
  <div class="title">{{ movie?.title }}</div>
  <div class="row">

    <div class="col-12 col-sm-3">
      <div class="poster">
        <div class="image">
          <ng-container *ngIf="movie?.poster_path; else defaultImg">
            <img [src]="'https://image.tmdb.org/t/p/w370_and_h556_bestv2/' + movie.poster_path"
              [alt]="movie.title || 'Movie Title'">
          </ng-container>
          <ng-template #defaultImg>
            <img src="assets/images/default-movie.png"
              onError="this.src='https://via.placeholder.com/219x330/000000/FFFFFF/?text=Image Not Found'"
              [alt]="movie.title || 'Movie Title'">
          </ng-template>
          <div class="pe-4">
            <app-watchlist-button [movie]="movie"></app-watchlist-button>
          </div>
        </div>
        
      </div>
    </div>

    <div class="col-12 col-sm-9">
      <div class="info">
        <div>
          <span class="rate">
            <i class="material-icons">star</i><span>{{ movie?.vote_average }}</span> /10
          </span>
          <span> {{movie?.vote_count | number }} Reviews</span>
          <span>{{movie?.release_date | date: 'yyyy' }}</span>
        </div>
      </div>

      <div class="genres">
        <ng-container *ngFor="let genre of movie.genres; trackBy: trackBy">
          <span>{{genre.name}}</span>
        </ng-container>
      </div>

      <ng-container *ngIf="movie?.overview">
        <div class="desc">{{ movie.overview }}</div>
      </ng-container>

      <ng-container *ngIf="movie?.imdb_id">
        <div class="link">
          <span>
            IMDb Link : 
            <a [href]="'https://www.imdb.com/title/' + movie.imdb_id" target="_blank">
              {{movie?.title}}
            </a>
          </span>
        </div>
      </ng-container>

      <ng-container *ngIf="trailerVideo?.id">
        <div class="trailer-btn">
          <button class="btn btn-sm btn-danger mt-2" (click)="onClickWatchTrailer(trailerVideo)">
            Watch Trailer
          </button>
        </div>
      </ng-container>
      
    </div>

  </div>

  <div class="cast-list">
    <h1 class="fs-4 cast-title">Cast</h1>
    <ng-container *ngIf="castList.length; else noDataFound">
      <p-carousel
       [value]="castList"
       [numVisible]="6"
       [numScroll]="4"
       [circular]="false"
       [dotsContainerClass]="'d-none'"
       [responsiveOptions]="dataService.responsiveOptions">
        <ng-template let-cast pTemplate="item">
            <div class="item-style">
                <img *ngIf="cast.profile_path; else defaultImg"
                    src="https://image.tmdb.org/t/p/w370_and_h556_bestv2/{{cast?.profile_path}}">
                <ng-template #defaultImg>
                  <img src="assets/images/default-movie.png"
                    onError="this.src='https://via.placeholder.com/219x330/000000/FFFFFF/?text=Image Not Found'"
                    [alt]="cast?.name || 'Cast Name'">
                </ng-template>
                <h6>{{ cast?.name }}</h6>
            </div>
        </ng-template>
      </p-carousel>
    </ng-container>
  </div>

  <div class="cast-list">
    <h1 class="fs-4 cast-title">Crew</h1>
    <ng-container *ngIf="crewList.length; else noDataFound">
      <p-carousel
       [value]="crewList"
       [numVisible]="6"
       [numScroll]="4"
       [circular]="false"
       [dotsContainerClass]="'d-none'"
       [responsiveOptions]="dataService.responsiveOptions">
        <ng-template let-crew pTemplate="item">
            <div class="item-style">
                <img *ngIf="crew.profile_path; else defaultImg"
                    src="https://image.tmdb.org/t/p/w370_and_h556_bestv2/{{crew?.profile_path}}">
                <ng-template #defaultImg>
                  <img src="assets/images/default-movie.png"
                    onError="this.src='https://via.placeholder.com/219x330/000000/FFFFFF/?text=Image Not Found'"
                    [alt]="crew?.name || 'Cast Name'">
                </ng-template>
                <h6>{{ crew?.name }}</h6>
            </div>
        </ng-template>
      </p-carousel>
    </ng-container>
  </div>

  <div class="cast-list">
    <h1 class="fs-4 cast-title">Related Movies</h1>
    <ng-container *ngIf="relatedMovieList.length; else noDataFound">
      <p-carousel
       [value]="relatedMovieList"
       [numVisible]="6"
       [numScroll]="4"
       [circular]="false"
       [dotsContainerClass]="'d-none'"
       [responsiveOptions]="dataService.responsiveOptions">
        <ng-template let-relatedMovie pTemplate="item">
            <app-movie-card [movie]="relatedMovie"></app-movie-card>
        </ng-template>
      </p-carousel>
    </ng-container>
  </div>

</div>

<ng-template #noDataFound>
  <span class="p-2">No data found!</span>
</ng-template>
