.details-container {
    padding: 8px 8px 0px 8px;
}
.poster {
  padding: 8px 8px;
  width: 100%;
  transition: all .5s ease-out;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin: 0 auto;
  
}
.poster .image {
  max-height: 300px;
  height: 300px;
  width: 100%;
  position: relative;
  margin: 0 auto;

}

.poster .image img {
  position: relative;
  height: 100%;
  width: 100%;
}

.title {
    margin: 0 0 1.4rem;
    padding: 8px 0px 0px 8px;
    font-size: 3rem;
    line-height: 1.1;
    color: #fff;
    cursor: pointer;
}

.title:focus {
  outline: none;

}

@media (min-width: 640px) {
  .title {
    margin-bottom: 1.8rem;
  }
}

@media (min-width: 1200px) {
  .title {
    font-size: 2.4vw;
  }
}


.desc {
    display: block;
    margin-top: 2rem;
    font-size: 1.3rem;
    font-style: italic;
    padding-left: 9px;
}

@media (min-width: 1650px) {
  .desc {
    font-size: 0.9vw;
  }
}

.info {
  display: flex;
  align-items: center;
}

@media(max-width: 640px) {
  .title {
    text-align: center;
    margin: 0;
    font-size: 2.5rem
  }

  .info {
    margin: 0 auto;
    text-align: center;
  }

  .info div {
    width: 100%;
  }

  .genres {
    text-align: center;
    margin-top: 4px;
  }

  .link {
    text-align: center;
  }

  .cast-title {
    text-align: center;;
  }

  .desc {
    display: none;
  }

  .trailer-btn {
    text-align: center;
  }
}

.info span {
  font-size: 1rem;
}

.info span:not(:last-child):after {
  content: "|";
  margin-right: 9px;
  margin-left: 9px;
}

.info .rate {
  padding: 1px 0px;
  top: 0px;
  left: 8px;
}
.info .rate i {
    font-size: 16px;
    margin-right: 5px;
  }

.info .rate .material-icons {
  color: #81a7d3;
}

.info .rate span {
  color: #fff;
  font-weight: 400;
}

.genres {
  padding-left: 9px;
}

.genres span {
  font-size: 1rem;
}

.genres span:not(:last-child):after {
  content: ",";
  margin-right: 9px;
}

.link {
  padding-left: 9px;
  margin-top: 16px;
}

.link span {
  font-size: 1rem;
}

.link span a {
  color: #81a7d3;
}

.trailer-btn {
  padding-left: 9px;
}

.listing-space {
  margin: 40px 0px 40px;
}

.listing__head {
  display: flex;
  align-items: baseline;
  margin-bottom: 1.5rem;
}

@media (min-width: 1200px) {
  .listing__head {
    margin-bottom: 2rem;
  }
}

.cast-title {
  margin: 1rem 0 0 0;
  padding: 8px 0px 0px 8px;
  font-size: 3rem;
}