<div class="movies-container">
    <div class="recently-viewed">
      <app-recently-visited></app-recently-visited>
    </div>
  <div class="movies-container">
    <div class="search-results"
      infinite-scroll
      [infiniteScrollDistance]="scrollDistance"
      [infiniteScrollUpDistance]="scrollUpDistance"
      [infiniteScrollThrottle]="throttle"
      (scrolled)="onScrollDown()">
      
      <ng-container *ngFor="let movieGenre of genreMovieList; trackBy: trackBy">
        <div class="pt-2">
          <h1 
            class="fs-4 mb-0 ps-3 cursor-pointer link-hover" 
            [routerLink]="'./genre/' + movieGenre.id + '/' + movieGenre.name">
            {{movieGenre.name}}
          </h1>
          <div class="row row-cols-1 row-cols-sm-5 m-0">

            <ng-container *ngFor="let movie of movieGenre.movies; trackBy: trackBy">
              <div class="col">
                <app-movie-card [movie]="movie"></app-movie-card>
              </div>
            </ng-container>
            
          </div>
        </div>
      </ng-container>
        
  </div>
  </div>
</div>