<div class="watchlist-container">
  <ng-container *ngIf="watchList.length; else noWatchlist">
    <div class="movie-list">
      <div class="row m-0 row-cols-1 row-cols-sm-5">
        <ng-container *ngFor="let movie of watchList; trackBy: trackBy">
          <div class="col">
            <app-movie-card [movie]="movie"></app-movie-card>
          </div>
        </ng-container>
  
      </div>
    </div>
  
    <div class="paginator">
      <mat-paginator [length]="totalResults" [pageSize]="itemsPerPage" (page)="changePage($event)">
      </mat-paginator>
    </div>
  </ng-container>
  <ng-template #noWatchlist>
    <div class="text-center pt-5">
      <h1 class="fs-4">No Movies added to watchlist yet!</h1>
    </div>
  </ng-template>
  
    
</div>