.navbar {
    height: 65px;
    background-color: #1f1e1e;
    padding: 0 45px;
    margin: 0 auto;
    z-index: 1;
}

.navbar a {
    color: #fff;
}

.navbar a:hover {
    color: #81a7d3;
}


@media (max-width: 992px) {
    .navbar-expand-lg .navbar-collapse {
        position: relative !important;
        top: 15px;
        background-color: #1f1e1e;
        margin-right: 0px !important;
    }
    
    .navbar-nav .nav-item.nav-link {
        padding-left: 10px;
    }

    .navbar-nav .nav-item.nav-link:hover {
        background-color: #1f1e1e;
        color: #81a7d3;;
    }
}