<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand fw-bold fs-3" [routerLink]="'./'">Movie Mania</a>

  <button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse position-absolute end-0 me-4" id="collapsibleNavbar">
    <div class="navbar-nav">
      <ng-container *ngFor="let menu of menuList">
      <a 
        class="nav-item nav-link cursor-pointer fs-5"
        (click)="onClickMenu(menu.path)">
        {{menu.name}}
      </a>
      </ng-container>
      
    </div>
  </div>
</nav>