/* You can add global styles to this file, and also import other style files */

#main-body {
    margin: 0px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.cursor-pointer {
    cursor: pointer;
}

app-footer {
    position: absolute;
    width: 100%;
}

mat-paginator {
    background-color: #0e0c0c !important;
    color: #fff !important;
}

.item-style {
    background-color: #212121;
    border: 1px solid rgba(255, 255, 255, 0.1);
    color: #fff;
    border-radius: 5px;
    margin: 11px 5px 11px;
    position: relative;
    cursor: pointer;
 }

 .item-style:focus {
    outline-style: none;
 }

 .item-style img {
    width: 100%;
    transition: all .5s ease-out;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

 .item-style h6 {
    font-size: 14px;
    overflow: hidden;
    margin: 5px 4px;
    text-transform: uppercase;
    font-family: Dosis, sans-serif;
    font-weight: 700;
    padding: 2px 2px;
    color: #fff;
    width: auto;
    white-space: nowrap;
    text-overflow: ellipsis;
 }

 .item-style .rate {
    font-size: 12px;
    background: rgba(11, 26, 42, .95);
    padding: 1px 7px;
    border-radius: 5px;
    position: absolute;
    top: 2px;
    left: 8px;
 }
 .item-style .rate i {
      font-size: 16px;
      margin-right: 5px;
    }

 .item-style .rate .material-icons {
    color: #81a7d3;
 }

 .item-style .rate span {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
 }

 .item-style .year {
    position: absolute;
    left: 6px;
    background: rgba(11, 26, 42, 0.95);
    padding: 1px 7px;
    border-radius: 5px;
    top: auto;
    bottom: 24px;
    color: #fff;
    pointer-events: none;
    font-size: 14px;
    font-weight: 400;
  }
  
  @media (max-width: 640px) {
    .item-style{
      margin: 5px;
    }
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: transparent;
  }
  
  .hover {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: Dosis, sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    background-color: #81a7d3;
    padding: 8px 15px;
    z-index: 2;
    width: 120px;
    height: 38px;
    border-radius: 1px;
    cursor: pointer;
    transition: all .5s ease-out; 
    
  }
  
  .hover i {
    position: absolute;
    line-height: 25px;
    font-size: 13px;
    left: 13px;
  }
  
  .item-style:hover .overlay {
    opacity: 1;
  }

  .color-secondary {
    color: #81a7d3;
  }

  mat-dialog-container {
    background: #212121 !important;
  }